<h1>Bookings</h1>

<%= form_tag(bookings_path, :method => "get", class: "form-inline") do %>
    <div class="input-group input-group-lg">
      <% if params[:query].present? %>
       <div class="input-group-btn">
         <%= link_to "clear", bookings_path, class: "btn btn-default" %>
       </div>
      <% end %>
      <%= text_field_tag :query, params[:query], class: "form-control", id: "booking_search", autocomplete: "off" %>
      <div class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>




<% end %>

<p> </p>
<%= will_paginate %>
<%= render @bookings %>
<%= will_paginate %>

<p></p>

<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Organisasi</th>
      <th>Unit</th>
      <th>Paket</th>
      <th>Tgl Mulai</th>
      <th>Tgl Akhir</th>
      <th>Peserta</th>
      <th>Status</th>
      <th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
    <% @bookings.each do |booking| %>
		<tr>
      <td><%= booking.customer.organization %></td>
			<td><%= booking.unit %></td>
			<td><%= booking.packet %></td>
      <td><%= booking.start_time %></td>
      <td><%= booking.end_time %></td>
      <td><%= booking.total_participant %></td>
			<td><%= booking.status %></td>
      <td><%= link_to 'Show', bookings_path %></td>
    	<td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    	<td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
    <% end %>
	</tbody>
</table>
