<p>
  <strong>Unit:</strong>
  <%= @booking.unit %>
</p>

<p>
  <strong>Paket:</strong>
  <%= @booking.packet %>
</p>

<p>
  <strong>Tgl Mulai:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>Tgl Akhir:</strong>
  <%= @booking.end_date %>
</p>

<p>
  <strong>Jumlah Peserta</strong>
  <%= @booking.total_participant %>
</p>

<p>
  <strong>Status</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Catatan</strong>
  <%= @booking.note %>
</p>
