<%= form_for(lakeside) do |f| %>
  <% if lakeside.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lakeside.errors.count, "error") %> prohibited this lakeside from being saved:</h2>

      <ul>
      <% lakeside.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization %>
    <%= f.text_field :organization %>
  </div>

  <div class="field">
    <%= f.label :packet %>
    <%= f.text_field :packet %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
