<h1>Lakesides</h1>

<%= form_tag(bookings_path, :method => "get", class: "form-inline") do %>
    <div class="input-group input-group-lg">
      <% if params[:query].present? %>
       <div class="input-group-btn">
         <%= link_to "clear", bookings_path, class: "btn btn-default" %>
       </div>
      <% end %>
      <%= text_field_tag :query, params[:query], class: "form-control", id: "booking_search", autocomplete: "off" %>
      <div class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>

<div id="calendar" style="max-width: 60%;"></div>

<h2>Lakeside</h2>
<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Packet</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lakesides.each do |lakeside| %>
      <tr>
        <td><%= lakeside.organization %></td>
        <td><%= lakeside.packet %></td>
        <td><%= lakeside.start_time %></td>
        <td><%= lakeside.end_time %></td>
        <td><%= lakeside.status %></td>
        <td><%= link_to 'Show', lakeside %></td>
        <td><%= link_to 'Edit', edit_lakeside_path(lakeside) %></td>
        <td><%= link_to 'Destroy', lakeside , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Lakeside", new_lakeside_path %>
