<div class="row">
  <div class="col-md-8">
    <%= form_for(customer) do |f| %>
    <% if customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :contact_person, "Kontak Person" %>
        <%= f.text_field :contact_person, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Kontak Telepon" %>
        <%= f.number_field :phone, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "Alamat Email" %>
        <%= f.text_field :email, :class => "form-control" %>
      </div>
    </div>

    <br><br>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :organization, "Nama Organisasi" %>
        <%= f.text_field :organization, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :segment, "Segmen" %>
        <%= f.text_field :segment, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, "Alamat Organisasi" %>
      <%= f.text_area :address, :class => "form-control" %>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :kecamatan, "Kecamatan" %>
        <%= f.text_field :kecamatan, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :city, "Kota" %>
        <%= f.text_field :city, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :province, "Provinsi" %>
        <%= f.text_field :province, :class => "form-control" %>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :postal_code, "Kode Pos" %>
        <%= f.number_field :postal_code, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :total_visit, "Total Kunjungan" %>
        <%= f.number_field :total_visit, :class => "form-control" %>
      </div>
    </div>

    <br><br>

    <div class="form-group">
      <%= f.label :note, "Keterangan Kustomer" %>
      <%= f.text_area :note, :class => "form-control" %>
    </div>

    <br><br>

    <%= f.fields_for :bookings do |b| %>
      <div class="form-inline">
        <div class="form-group">
          <%= b.label :unit, "Unit" %>
          <%= b.select :unit, [['Riverside',1],['Lakeside', 2], ['Seaside', 3]], {}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= b.label :packet, "Paket" %>
          <%= b.text_field :packet, class: "form-control" %>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group">
          <%= b.label :start_date, "Tanggal Mulai" %>
          <%= b.text_field :start_date, class: "datepicker" %>
        </div>

        <div class="form-group">
          <%= b.label :end_date, "Tanggal Akhir" %>
          <%= b.text_field :end_date, class: "datepicker" %>
        </div>
      </div>

      <div class="form-group">
        <%= b.label :note, "Keterangan Kegiatan" %>
        <%= b.text_area :note, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= b.label :status, "Status" %>
        <%= b.text_field :status, class: "form-control" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
