<!DOCTYPE html>
<html>
  <head>
    <title><%# full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="notice">
        <% if user_signed_in? %>
          <% case current_user.role %>
          <% when 'user' %>
            <h3>Welcome</h3>
          <% when 'marketing' %>
            <h3>Welcome, Marketing</h3>
          <% when 'unit' %>
            <h3>Welcome, Unit</h3>
          <% when 'admin' %>
            <h3>Welcome, Administrator</h3>
          <% end %>
        <% else %>
          <h3>Welcome</h3>
        <% end %>        
      </div>

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
